body {
  font-family: Helvetica, sans-serif;
  background-color: #333;
  color: #f33;
  font-size: 18pt;
  margin: 3em 5em;
  text-align: center;
}

h1 {
    font-size: 3em;
}

h1 > p {
  font-family: "Times New Roman", Times, serif;
  color: yellow;
  margin: 0;
}

h2 {
    margin: 3em;
}

h3 {
    color: rgb(170, 162, 56);
    font-size: 0.75em;
    margin: 5em;
}

footer {
  color: #777;
  font-size: 0.5em;
  text-align: right;
  margin: 5em;
}
